/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/ext/ilios/*.bundle
/ext/ilios/*.so
/ext/ilios/*.o
/ext/ilios/Makefile
/ext/cpp-driver
/ext/libuv
/ext/ports
/ext/tmp

Gemfile.lock
