/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/ext/ilios/*.bundle
/ext/ilios/*.so
/ext/ilios/*.o
/ext/ilios/mkmf.log
/ext/ilios/Makefile
/ext/ilios/cpp-driver
/ext/ilios/libuv
/ext/ilios/ports
/ext/ilios/tmp

Gemfile.lock
